.fullscreen-div {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    position: fixed; /* Rimane nella stessa posizione quando si scorre */
    top: 0;
    left: 0;
    z-index: -1; /* Posiziona il div dietro altri contenuti */
  }