@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    
$g-font-size:18px;
$f-family:"Inter", sans-serif;
$g-bg:rgb(213, 211, 211);
$bg-nav:#333;
$max-width:1200px;
$color-a:#ff0000; 
